<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                             http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- GitHub Packages Configuration Template -->
  <!-- Copy this file to ~/.m2/settings.xml and replace placeholders -->

  <servers>
    <server>
      <id>github</id>
      <username>${env.GITHUB_USERNAME}</username>
      <password>${env.GITHUB_TOKEN}</password>
    </server>
  </servers>

  <repositories>
    <repository>
      <id>github</id>
      <url>https://maven.pkg.github.com/sudojed/reductio</url>
      <releases>
        <enabled>true</enabled>
      </releases>
      <snapshots>
        <enabled>true</enabled>
      </snapshots>
    </repository>
  </repositories>

  <mirrors>
    <!-- Optional: Configure mirror for faster downloads -->
    <mirror>
      <id>github-packages</id>
      <name>GitHub Packages Mirror</name>
      <url>https://maven.pkg.github.com/sudojed/reductio</url>
      <mirrorOf>github</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>github-packages</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>github</id>
          <url>https://maven.pkg.github.com/sudojed/reductio</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>github-packages</activeProfile>
  </activeProfiles>

</settings>
